{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Create{% endblock %}

{% block body %}

    <h2>Create a serie</h2>
    {{ form_start(createSerieForm) }}
        {{ form_widget(createSerieForm) }}
        <button>Create a new serie</button>
    {{ form_end(createSerieForm) }}

{% endblock %}