<div class="headNav">
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="Series"></a></h1>

    <ul class="navbar">
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('serie_list') }}">List of series</a></li>

    </ul>
</div>